<div class="ct-bottom-nav ct-shadow-bottom-nav justify-content-center">
  <div class="col-12 col-md-4 col-lg-3">
    <%= link_to night_venue_night_path(@night,@venue), method: :patch, class:'btn btn-primary btn-block ct-btn ct-round-50 ct-shadow ', id:'add-btn' do %>
      Add to Night Out
    <% end %>
  </div>
</div>
