<div class="bottom-nav">
    <%= link_to night_venue_night_path(@night,@venue), method: :patch, class:'btn btn-primary btn-block ct-btn ct-round-50 ct-shadow ', id:'add-btn' do %>
    Add to Night Out
  </div>
  <% end %>
