<div class="container">
  <div class="row">
    <div class="col">
      <!-- Contained Btn-->
      <button class="btn btn-primary ct-btn btn-block"> Contained</button>
      <!-- Outlined Btn-->
      <button class="btn btn-outline-primary ct-btn btn-block "> outlined</button>
      <!-- Text Btn-->
      <a href="#" class="ct-btn-text btn-block">Text Button</a>
    </div>
  </div>
</div>
