<!-- Modal -->
<div class="container">

  <div class="modal fade  bg-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ct-round-5 bg-light mx-4">

        <div class="modal-body text-center">
          <h3 class="mt-4 text-success"> Your plan is saved for tonight! </h3>
          <%= render 'components/check_box' %>
        </div>

        <div class="border-top justify-content-center p-4">
         <!--  <div class="row bg-success">
            <div class="col-6 bg-danger text-center "> -->
              <%= link_to 'Search Again',root_path, class: "btn btn-outline-primary btn-block ct-btn ct-round-50" %>
            <!-- </div>
            <div class="col-6 bg-warning text-center"> -->
              <%= link_to 'Go to Profile',user_path(@user), class: "btn btn-primary btn-block ct-btn ct-round-50 ct-shadow mt-3"%>
            <!-- </div> -->
         <!--  </div> -->
        </div>
      </div>
    </div>
  </div>

</div>

