<!-- Modal -->
<div class="container">

  <div class="modal fade  bg-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ct-round-5 bg-light mx-4">

        <div class="modal-body text-center">
          <br>
          <h3 class="mt-4 ct-text-primary-dark"> Estimated tonight's spend  </h3>
          <h3 class="justify-content-center ct-text-primary-dark mt-2"> <strong><%= total_spend %> € </strong></h3>
          <br>
          <%= render 'components/check_box' %>
        </div>

        <div class="text-center border-top p-4">
          <%= link_to 'Share Night',night_path(@night), class: "btn btn-outline-primary ct-btn ct-round-50 w-100" %>
          <%= link_to 'Go to Profile',user_path(@user), class: "btn btn-primary ct-btn ct-round-50 ct-shadow mt-3 w-100"%>
        </div>
      </div>
    </div>
  </div>

</div>

