<div id="review-form" class="pt-5">
  <%= simple_form_for [@night, @venue, @review ] do |f| %>
    <%= f.input :content, label: "Write a review", class: "text-light"  %>
    <div></div>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
    <%= f.submit "Send your review", class: "btn btn-outline-primary ct-btn-white ct-round-50 ct-btn mt-2" %>
  <% end %>
</div>
