<% if @venue.venue_type == 'club' %>
  <%= link_to clubs_night_venues_path , id:"back" do %>
    <i class="fas fa-lg fa-chevron-left ct-primary-light"></i>
  <% end %>
<% else %>
  <%= link_to night_venues_path , id:"back" do %>
    <i class="fas fa-lg fa-chevron-left ct-primary-light"></i>
  <% end %>
<% end %>

<div class="d-flex align-items-center">

  <!-- <h6 class="text-light pr-2"> Share </h6> -->
  <%= rails_social_share_button_tag(@venue.name) %>
  <%= button_to venue_favourites_path(@venue), method: :post,  class:"pl-1 nav-button ct-social-media-icons" do %>
    <% if current_user.favourites.map { |fav| fav.venue }.include?(@venue) %>
      <i class="pl-3 fas fa-heart fa-lg ct-primary-light"></i>
    <% else %>
      <i class="pl-3 far fa-heart fa-lg ct-primary-light"></i>
    <% end %>
  <% end %>
</div>



