html {
  box-sizing: border-box;
  // scroll-behavior doesn work for Safari, only Chrome
  // if you want to do scroll-behavior for Safari, you need to use JS
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;

  // font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  color: $ct-primary-dark;
}
