// Customs classes have the ct-prefix, to diferenciate from bootstrap classes
// Please, if you write your own class,
// ALWAYS use the ct-prefix, example .ct-margin-bottom

.ct-border-radius {
  border-radius: 50px;
}

.ct-circle {
  border-radius: 50px;
  padding: 3px 8px;
  font-size: 16px;
}
