// Basic Custom Type Size & Styles
// h1 - h6, p

h1 {
font-weight: 300;
font-size: 60px;
letter-spacing: -1.5px;
}

h2 {
font-weight: 300;
font-size: 48px;
letter-spacing: -0.5px;
}

h3 {
font-weight: 300;
font-size: 36px;
letter-spacing: 0;
}

h4 {
font-weight: 400;
font-size: 28px;
letter-spacing: 0px;
}

h5 {
font-weight: 400;
font-size: 24px;
letter-spacing: 0px;
}

h6 {
font-weight: 500;
font-size: 20px;
letter-spacing: 0.15px;
}

p {
font-weight: 400;
font-size: 16px;
letter-spacing: 0.5px;
}
