.summary-map-anchor-color {
  color: $ct-primary-light !important;
}

// Custom Simple Snippets
.ct-width-100 {
  width: 100%;
}

// Shadows
.ct-shadow {
  box-shadow: 0px 2px 5px rgba($ct-primary-superdark, .4);
}

.ct-shadow-navbar {
  box-shadow: 0px 4px 10px 5px rgba($ct-primary-superdark, .3);
}

.ct-shadow-bottom-nav {
  box-shadow: 0px -5px 10px 5px rgba($ct-primary-superdark, .3);
}

// Rounded Borders
.ct-round-5 {
  border-radius: 5px;
}

.ct-round-10 {
  border-radius: 10px;
}

.ct-round-50 {
  border-radius: 50px;
}

.ct-round-200 {
  border-radius: 200px;
}

// Text Sizes
.ct-text-12 {
  font-size: 12px;
}

.ct-text-14 {
  font-size: 14px;
}

.ct-text-20 {
  font-size: 20px;
}

.ct-bold {
  font-weight: 700;
}

.ct-medium {
  font-weight: 500;
}


// Text Colors
.ct-text-dark {
  color: $ct-dark;
}

.ct-text-dark-medium {
  color: $ct-dark-medium;
}

.ct-text-light {
  color: $ct-light;
}



.ct-primary-light {
  color: $ct-primary-light;
}

.ct-primary-light-imp a {
  color: $ct-primary-light !important;
}

.ct-primary-dark {
  color: $ct-primary-dark;
}

.ct-primary-bg {
  color: $ct-bg-global;
}

// BORDER
.ct-border-light {
  border: 1px solid #D0A9F9;
}

// Background colors
.ct-bg-global {
  background-color: $ct-bg-global;
}

.ct-bg-primary {
  background-color: $ct-primary;
}

.ct-bg-primary-light {
  background-color: $ct-primary-light;
}

// Opacity
.ct-opacity-90 {
  opacity: 0.9;
}

.ct-opacity-70 {
  opacity: 0.7;
}



// Capitalize
.ct-capitalize {
  text-transform: capitalize;
}

.ct-no-capitals {
  text-transform: none;
}


// custom circle
.ct-circle {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 16px;
  margin-right: 5px;
  color: $ct-light;
}

// Margins & Paddings
.ct-mb-big {
  margin-bottom: 100px;
}

.ct-mb-semi {
  margin-bottom: 80px;
}

.ct-mt-big {
  margin-top: 100px;
}

.ct-mt-big-xl {
  margin-top: 150px;
}

.ct-px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

// CHIPS
.ct-chip {
  box-shadow: 0px 2px 5px rgba(30,30,30, .4);
  border-radius: 50px;
  background-color: $ct-light;
  padding: 0px 20px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}
