// Top bar icons
#back{
  flex-grow: 1;
}

#back a:hover {
  text-decoration: none;
}

// Social media icons
$size: 5px;
.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

button {
  background: none !important;
  border: none !important;
}

// venue pic
.show-pic > img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

// Card payment colors
#true{
  color: $ct-success;
  background-color: $success-light;
}

#false{
  color: $ct-danger;
  background-color: $ct-danger-light;
}


// Map
#my-map-anchor {
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

#marker{
  font-size: 20px;
}
