// SHOWPAGE UP BAR (ICONS)

#back{
  flex-grow: 1;
}

// SOCIAL ICONS

$size: 5px;
// $color: black;
.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    // color: $color;
  }
}

// SOCIAL MEDIA ICONS
// .ssb-icon {
//   height: 5px;
//   width: 5px;
// }

// .rails-social-share-button {
//   height: 5px;
//   width: 5px;
//   display: flex;
// }

button {
  background: none !important;
  border: none !important;
}

// CARROUSEL
.carousel-item{
  height: 200px;
}

// .image{
//   box-shadow: 0 0 10px rgba(0,0,0,0.4);
// }

#marker{
  font-size: 20px;
}

.light{
  font-weight: lighter;
}

#true{
  color: $ct-success;
  background-color: $success-light;
}

#false{
  color: $ct-danger;
  background-color: $ct-danger-light;
}

.card-indicate{
  font-size: 20px;
}

// #info{
//   margin-top: 30px;
// }

#description{

  border-radius: 5px;
  background-color: $ct-light;
  padding: 20px 20px;
  padding-top: 25px;
}

#add-btn{
  //margin-top: 40px;
}

#my-map-anchor {
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}
