#back{
  flex-grow: 1;
}

.nav-icon{
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 0 7px;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.carousel-item{
  height: 200px;
}

.image{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#marker{
  font-size: 20px;
}

.light{
  font-weight: lighter;
}

#true{
  color: #74D612;
}

#false{
  color: #E44336;
}

.card-indicate{
  font-size: 20px;
}

#info{
  margin-top: 30px;
}

#description{
  margin-top: 40px;
}

#add-btn{
  position: absolute;
  top: 720px;
  left: 18px;
  width: 90%;
}

