<body class="ct-bg-global">
  <div class="container-fluid p-0 m-0">
   <%= render 'components/banner-home' %>


  <div class="d-flex ct-border-radius-5 mt-2 m-3 justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6 col-xl-4 p-0">
      <%= render 'components/form_homepage' %>
    </div>
  </div>
</div>
</body>


