<div class="container mt-5 pt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary">
        Your plan for the night
      </h3>

    <div class="">
      <% @night.venues.each do |venue| %>
       <%= render 'components/card-index', venue: venue  %>
      <% end %>
      <% if @night.venues.length >= 2 %>
        <p>the distance between the bar and club is
        <% x = @night.venues.first%>
        <%= x.distance_to(@night.venues.last).round(1)%>km
        </p>
      <% end %>
    </div>

    <%= link_to 'Continue',night_save_night_path(@night), class: "btn btn-primary btn-block ct-btn ct-shadow ct-round-50", 'data-toggle'=> "modal", 'data-target'=>"#exampleModalCenter" %>
    <!-- MODAL -->
    <%= render 'components/modal_summary_page' %>

    </div>
  </div>
</div>






