<h4 class="font-page" style="position: relative; left: 14px; top: 18px;">Your Plan for the Night:</h4>

    <div class="container mt-5">
      <% @night.venues.each do |venue| %>
       <%= render 'components/card-index', venue: venue  %>
      <% end %>

      <br>
      <br>


      <%= link_to 'Continue',night_save_night_path(@night), class: "btn btn-primary ct-btn btn-block", 'data-toggle'=> "modal", 'data-target'=>"#exampleModalCenter" %>
    </div>
    <%= render 'components/modal_summary_page' %>




