<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary">
        Your plan for the night
      </h3>

    <div class="">
      <% @night.venues.each do |venue| %>
       <%= render 'components/card-index', venue: venue  %>
      <% end %>
    </div>

    <%= link_to 'Save to profile',user_path(@user), class: "btn btn-primary btn-block ct-btn ct-shadow ct-round-50" %>


    </div>
  </div>
</div>






