<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- Contained Btn-->
      <button class="btn btn-primary ct-btn btn-block"> Click me!</button>
      <!-- Outlined Btn-->
      <button class="btn btn-outline-primary ct-btn btn-block "> OUTLINED!</button>
      <!-- Text Btn-->
      <a href="#" class="ct-btn-text btn-block">hey ho</a>
    </div>
  </div>
</div>

