<div class="container position-absolute mt-5">
  <% if @venues.empty? %>
    <div class="text-center">
      <h3>No Search Results</h3>
      <%= link_to 'Try Another Search', root_path, style:' text-decoration: none' %>
    </div>
  <% else %>
    <h5>2) Choose your club</h5>
    <div class="container mt-5">
      <% @clubs.each do |venue| %>
        <%= link_to night_venue_path(@night, venue) do %>
          <%= render 'components/card-index', venue: venue  %>
        <% end %>
      <% end %>
      <br>
      <br>

    <%= link_to 'Skip this step', night_path(@night), class: "btn btn-primary ct-btn btn-block", id: "skip-btn" %>
  <% end %>
</div>
