<!-- navbar -->
<!-- flexbox: -->
<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center pt-2">
      <%= link_to "#" , class:"nav-icon", id:"back" do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <div>
        <%= link_to "#", class:"nav-icon" do %>
          <i class="far fa-share-square"></i>
        <% end %>
        <%= link_to "#", class:"nav-icon" do %>
          <i class="far fa-heart"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Back:icon    Share:icon Favourites:icon -->
<!-- fullscreen-width carrousell -->
<!-- title -->
<!-- flexbox: -->
<!-- overall rating type, category, price_category -->
<!-- flexbox: -->
<!-- marker:icon address -->
<!-- Opening hours -->
<!-- flexbox: -->
<!-- card_accepted  true/false:icon -->
<!-- description -->
<!-- button -->
