.banner-container {
  background: linear-gradient(rgba(255,197,34,1), rgba(255,197,34,0.3), rgba(27,0,44,1)), url("https://source.unsplash.com/iTZOPe7BpTM/1600x900");
  background-size: cover;
  height: 320px;
  position: relative;
}

.banner-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(255,197,34,1), rgba(255,197,34,0.3), rgba(27,0,44,1)), url("https://source.unsplash.com/iTZOPe7BpTM/1600x900");
  filter: blur(1px);
}

.banner-text {
  position: absolute;
  top: 120px;
  left: 15px;
  max-width: 500px;
}

@media only screen and (min-width: 576px) {
  .banner-text {
    left: 50px;
    font-size: 35px;
    max-width: 670px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-text {
    left: 65px;
    max-width: 720px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .banner-container {
    height: 75%;
  }

  .banner-text {
    left: 50%;
    transform: translateX(-50%);
  }
}

.banner-text-shadow {
  text-shadow: 0 3px 10px rgba(30,30,30,0.2);
}
