.ct-bottom-nav {
  background-color: $ct-bg-global;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1020;
  height: 90px;
  display: flex;
  align-items: center;
  border-top: 2px solid $ct-primary-superdark;
}
