.card-trip {
  background-color: $ct-light;
  overflow: hidden;
  // height: 250px;
  // width: 100%;
  margin-bottom: 20px;
  // border-radius: 10px;
}

.card-trip > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

// .card-trip h3 {
//   font-size: 16px;
//   text-transform: capitalize;
//   font-weight: bold;
//   margin-top: 20px;
// }

.card-trip p {
  text-transform: capitalize;
  //font-size: 12px;
  //opacity: .7;
  //margin: 0;
}



// .card-trip .card-trip-infos {
//   padding: 20px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
// }



// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
