.card-dashboard {
  border-radius: 5px;
  display: flex;
  // box-shadow: 0 2px 5px rgba(33,32,50,0.2);
  color: #2e3f46;
  overflow: hidden;
  background-color: $ct-light;
  border: 1px solid $ct-light;
}

.card-description-summary{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}

.ct-remove-btn {
  position: absolute;
  bottom: 10px;
}

.pic-summ > img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
