.card-trip {
  background-color: $ct-light;
  border: 1px solid $ct-light;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all .1s ease-in;

    &:hover {
      top: -4px;
    }

    &:hover img{
      -webkit-filter:brightness(115%) saturate(1.5);;
      filter: brightness(115%) saturate(1.5);;
    }
}

.card-trip > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  transition: transform .5s, filter .5s ease-in-out;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.card-trip p {
  text-transform: capitalize;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

#distance{
  line-height: 20px;
}

.ct-club-btn{
  font-size: 20px;
}

.ct-club{
  font-size: 18px;
}
