.card-trip {
  background-color: $ct-light;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid $ct-light;

  // margin-right: 20px;
}

// @media only screen and (min-width: 576px) {
//   .card-trip {
//     width: 40%;
//     // max-width: 250px;
//   }
// }

// @media only screen and (min-width: 768px) {
//   .card-trip {
//     width: 300px;
//     // max-width: 250px;
//   }
// }

// @media only screen and (min-width: 992px) {
//   .card-trip {

//     max-width: 300px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .card-trip {
//     min-width: 350px;

//   }
// }

.card-trip > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  text-transform: capitalize;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

#distance{
  line-height: 20px;
}

.ct-club-btn{
  font-size: 20px;
}

.ct-club{
  font-size: 18px;
}
