.card-dashboard {
  border-radius: 5px;
  display: flex;
  color: #2e3f46;
  overflow: hidden;
  background-color: $ct-light;
  border: 1px solid $ct-light;
}

.card-description-summary{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.ct-remove-btn {
  position: absolute;
  bottom: 10px;
}

.ct-remove-btn a:hover {
  text-decoration: none;
  color: $ct-primary;
}

.pic-summ > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
