// Customs classes have the ct-prefix, to diferenciate from bootstrap classes
// Please, if you write your own class,
// ALWAYS use the ct-prefix, example .ct-margin-bottom


.nav-button {
  border: none;
  background: white;
}

// Custom CONTAINED & OUTLINED Btn
.ct-btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 25px;
    &:hover {
        text-decoration: none;
      }
}

.ct-btn-skip {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0px;
  padding-left: 25px;
  padding-right: 20px;
    &:hover {
        text-decoration: none;
      }
}


.ct-sticky-btn {
  position: sticky;
  top: 20px;
  z-index: 20;

}

.ct-fixed-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 15;
}

.ct-btn-border {
  font-size: 14px;
  font-weight: 500;
  // letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 25px;
    &:hover {
        text-decoration: none;
      }
}

.ct-btn-add {
  font-size: 14px;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 0px;
  padding-left: 10px;
  padding-right: 15px;
    &:hover {
        text-decoration: none;
      }
}


// .ct-btn-modal{
//   border-radius: 5px;
//   font-size: 14px;
//   font-weight: 500;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   // padding: 10px 15px;
//   box-shadow: 0 2px 2px rgba(33,32,50, 0.2);
//   // width: 93%; // dirty fix here, need to repair!
//   width: 150px;
//   border: 1px solid #FFFFFF;

// }

// .ct-btn-modal-button2{
//   border-radius: 5px;
//   font-size: 14px;
//   font-weight: 500;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   // padding: 10px 15px;
//   box-shadow: 0 2px 2px rgba(33,32,50, 0.2);
//   // width: 93%; // dirty fix here, need to repair!
//   width: 150px;
//   opacity: 0.6;
//   border: 1px solid #FFFFFF;
// }



