// Customs classes have the ct-prefix, to diferenciate from bootstrap classes
// Please, if you write your own class,
// ALWAYS use the ct-prefix, example .ct-margin-bottom

// Custom CONTAINED & OUTLINED Btn
.ct-btn {
   border-radius: 5px;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 1px;
   text-transform: uppercase;
   // padding: 10px 15px;
   box-shadow: 0 2px 2px rgba(33,32,50, 0.2);
}

//Custom TEXT Btn
.ct-btn-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
}

.nav-button {
  border: none;
  background: white;
}

// #skip-btn{
//   position: absolute;
//   top: 620px;
//   left: 19px;
//   border-radius: 5px;
//   width: 90%
// }

.ct-sticky-btn {
  position: sticky;
  top: 20px;
  z-index: 20;
}

.ct-fixed-btn {
  position: fixed;
  bottom: 20px;
  z-index: 15;
}








