// Customs classes have the ct-prefix, to diferenciate from bootstrap classes
// Please, if you write your own class,
// ALWAYS use the ct-prefix, example .ct-margin-bottom


.nav-button {
  border: none;
  background: white;
}

// Custom CONTAINED & OUTLINED Btn
.ct-btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 12px 25px;

    &:hover {
      text-decoration: none;
    }
}

.ct-btn-white {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 25px;
  border-color: $ct-light;
  color: $ct-light;

    &:hover {
      text-decoration: none;
    }
}

.ct-btn-skip {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0px;
  padding-left: 25px;
  padding-right: 20px;

    &:hover {
      text-decoration: none;
    }
}


.ct-sticky-btn {
  position: sticky;
  top: 75px;
  z-index: 20;
}

.ct-fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 5%;
  z-index: 15;
}

@media only screen and (min-width: 576px) {
  .ct-fixed-btn {
     margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .ct-fixed-btn {
     right: 7%;
  }
}

@media only screen and (min-width: 1475px) {
  .ct-fixed-btn {
     right: 9%;
  }
}


.ct-btn-border {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 25px;

    &:hover {
      text-decoration: none;
    }
}

.ct-btn-add {
  border: 1px solid #D0A9F9;
  font-size: 14px;
  border-radius: 25px;
  font-weight: 500;
  width: 95px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 0px;
  padding-left: 5px;
  padding-right: 5px;

    &:hover {
      text-decoration: none;
    }
}
