.menu{
  width: 100vw;
  // padding: 20px;
}

.menu-item{
  color: $ct-primary-dark;
  font-weight: bold;
  &.active{
    color: $ct-primary-light;
  }
  &:hover{
    cursor: pointer;
  }
}

.bold-lg{
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  color: $ct-light;
}

.menu-list{
  margin-top: 30px;
}

.hidden{
  display: none;
}

.content-title{
  font-size: 24px;
}

#change-links{
  margin-top: 15px;
}

#night-date{
  flex-grow: 1;
  font-size: 16px;
  margin-top: 20px;
  color: $ct-primary;
}

#seperation-line{
  border-top: 1px solid $ct-primary-light;
  width: 100%;
  height: 1px;
  margin-top: 8px;
}

#share-night{
  font-size: 20px;
  color: black;
}

#facebook, #twitter{
  color: $ct-primary;
  font-size: 22px;
  margin-left: 5px;

}
