.ct-title {
  font-size: 14px;
  // text-transform: uppercase;
  font-weight: 500px;
}

.test-color {
  background-color: red;
}

.ct-border {
  border: 1px solid #9B51E0;
}

// SIMPLE FORM STYLING




.form-check {
  padding: 0;
}

// Current Location BTN
#user-location {
  color: $ct-light;
  cursor: pointer;
  font-weight: 400;
  color: $ct-primary-light;

}

// LABELS

#new_night .ap-suggestion {
  line-height: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#new_night label {
  color: $ct-light;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700px;
}

// Radio buttons label
#new_night legend {
  color: $ct-light;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700px;
}

// RADIO BUTTONS (Broke, Modest, Rich)
#new_night .form-check-label {
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
  color: $ct-dark;
  background-color: $ct-light;
  width: 90px;
  text-transform: capitalize;
  letter-spacing: 0px;
  box-shadow: 0px 2px 5px rgba(30,30,30, .4);
}

// Choose City input
#venue_location {
  // border-radius: 50px;
  border-radius: 5px;
}

// Your Style input
#new_night select {
   // border-radius: 50px;
   border-radius: 5px;
   text-transform: capitalize;
}

#new_night input[type="radio"]:checked + label {
  background-color: $ct-yellow-contrast;
  // border-color: #9B51E0;
  // color: white;
}

// input[type="radio"]:focus + label {
//     border: 2px dashed #444;
// }

// for not displaying Simple Form Radio Buttons
input.radio_buttons {
  display: none;
}


// PLAN YOUR NIGHT BUTTON
.search-button {
  background: #9B51E0;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $ct-light;
  border: none;

    &:hover {
        background: #63249e;
        color: $ct-light;
      }
}

// Algolia LINK not showing
#new_night .ap-footer {
  display: none;
}



