svg {
  // height: 150px;
  width: 150px;
  margin-top: 0;
}


.navbar-brand {
  // display: flex;
  // margin-right: 1;
}

// .navbar-toggler:focus, .navbar-toggler:active {
//   outline: none;
//   box-shadow: none;
// }
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  color: rgba(255, 255, 255, 1);
  // box-shadow: none !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1) !important;
}

.navbar-toggler-icon {

}

.ct-nav-item {
   color: $ct-light;
    &:hover {
      text-decoration: none;
      color: $ct-light;
    }

    font-size: 16px;
    padding-top: 50px;
}







//////////////////////
// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
// .navbar-header {
// position: absolute;
// left: 2%;
// right: 0%;
// top: 28%;
// bottom: 0%;

// font-family: Roboto;
// font-style: normal;
// font-weight: 500;
// font-size: 24px;
// line-height: 28px;
// display: flex;
// align-items: center;
// letter-spacing: 0.02em;
// color: #000000;
// }
