.user-pic {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.review-content {
  background-color: #f4f3ee;
  // padding: 10px 20px;
  border-radius: 5px;
}

.star-color {
  color: #fadd4b;
}

#my-reviews-anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}


