.user-pic {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.review-content {
  background-color: #f4f3ee;
  // padding: 10px 20px;
  border-radius: 5px;
}

.star-color {
  color: #fadd4b;
}

// .quotes {
//   font-size: 40px;
// }

