#review-form label {
  color: $ct-light;
}

#review-form .venue_review_rating {
  color: $ct-light;
}

#review-form textarea {
  height: 150px;
  border-radius: 5px;
}

.br-widget a {
  padding-right: 21px;
}
