.user-pic {
  border: 1px solid $ct-light;
  border-radius: 50px;
  height: 60px;
  width: 60px;


}

.review-content {
  background-color: $ct-light;
  // padding: 10px 20px;
  border-radius: 5px;
}

.star-color {
  color: $ct-yellow;
}

#my-reviews-anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}


