.menu{
  width: 100vw;
  padding: 20px;
  border-bottom: 1px solid rgb(190,190,190);
}

.list-group-item{
  background-color: rgb(245,245,245)!important;
  &:hover{
    cursor: pointer;
  }
}

.list-group-item.active{
  color: black;
  text-decoration: underline;
  border-color: rgb(160,160,160);

}
