// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/custom-btns";
@import "components/card-dashboard";
@import "pages/index";
@import "pages/home";
@import "pages/show";
@import "components/dashboard";
@import "components/review-form";
@import "components/review-comment";
@import "components/form-homepage";
@import "components/navbar";
@import "components/banner-home";
@import "components/users-numbers";

// Your custom basic css
@import "config/card-link";
@import "config/basic-reboot";
@import "config/custom-layout";
@import "config/custom-typography";
@import "config/custom-css";


// SHOWPAGE ICONS
// TAKE A LOOK AT THIS
//where is exactly this rails-social-share-button import?
@import "rails-social-share-button";

$size: 20px;
// $color: black;
.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin-left: 3px;
    // color: $color;
  }
}


